body
{
font-family:Arial, Helvetica, sans-serif;
font-size:1.8em;
}
h1
{
border-bottom:5px #959096 solid;
padding:10px;
width:50%;
}
.container 
{
background-color:#853894;
width:80%;
padding:50px;
color:#ddd;
margin-right:auto;
margin-left:auto;
}
form input
{
width:30%;   
}
#email
{
margin-left:5%;
}
#ville
{
background-color:#959096;
width:50%;
}

button
{
width:20%;
padding:5px;
border-radius:10px;
font-size:0.5em;
color:#fff;
background-color:#72e978;
margin-top:3%;
}

button:hover
{
background-color:#27a52d;
}

#message
{
color:red;
width:50%;
}